<h1>{{title}}</h1>

<!--https://stackoverflow.com/questions/42617078/possible-to-call-alert-or-console-log-from-angular-ng-click-expression-->
<!--<button ng-click="x = x + 1;">{{x}}</button>-->


<h2>Create Item</h2>

<pre ng-if="0">{{defaultDueDate}}
{{newQueueItem}}
</pre>


<!--https://getbootstrap.com/docs/4.0/components/forms/#inline-forms-->
<form class="form-inline" ng-submit="createNewQueueItem()">
    <div class="form-group">
        <label>Message</label>
        <input ng-model="newQueueItem.message" class="form-control mx-sm-3">

        <!--<small id="passwordHelpInline" class="text-muted">-->
        <!--Must be 8-20 characters long.-->
        <!--</small>-->
    </div>
    <div class="form-group">
        <label>Due Date
            <input ng-model="newQueueItem.due" type="datetime-local" name="datetime"
                   id="datetime"
                   class="form-control mx-sm-3">

            <!--<input id="datepicker" class="form-control mx-sm-3">-->
        </label>
        <!--<small id="passwordHelpInline" class="text-muted">-->
        <!--Must be 8-20 characters long.-->
        <!--</small>-->
        <!--<datetimepicker data-ng-model="data.date"></datetimepicker>-->
        <!--<input ng-model="test" data-date-time-input="YYYY-MMM-DD" />-->

    </div>
</form>

<h2>Items in Queue</h2>
<pre ng-if="0"><json-formatter open="2" json="queueItems"></json-formatter></pre>
<!--<button ng-click="console.log(1)">1</button>-->

<div>
    <button ng-click="markAllComplete()" class="btn-danger">Mark all complete</button>
</div>

<div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div ng-repeat="queue in queueItems.data track by $index">

            <div ng-if="queue.status === 'in_progress'">


                <div
                        ng-class="[queue.getPanelClass()]"
                        class="panel">

                    <div ng-if="queue.status !== 'in_progress'">
                        {{queue.status}}
                        {{queue.status}} {{"queue.status === 'in_progress'"}}
                    </div>
                    <div
                            class="panel-heading" role="tab"
                    >
                        <div class="row" ng-click="toggleShow($index)">
                            <div class="col-sm-1">
                                {{queue.message}}
                            </div>
                            <div class="col-sm-4">
                                <div class="due">
                                    {{queue.getDue()}}
                                </div>
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-2">
                                <button
                                        ng-click="
                              $event.stopPropagation();
                            queue.complete();"
                                        class="btn btn-primary">Complete
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button
                                        ng-click="
                              $event.stopPropagation();
                            queue.archive();"
                                        class="btn btn-danger">Archive
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <div id="collapse{{$index}}" class="panel-collapse collapse in"
                     role="tabpanel"
                     aria-labelledby="headingOne">
                    <div ng-if="getShow($index)" class="panel-body">
                        <pre><json-formatter open="2" json="queue"></json-formatter></pre>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
