<h1>{{title}}</h1>


<h2>Create Item</h2>

<!--https://getbootstrap.com/docs/4.0/components/forms/#inline-forms-->
<form class="form-inline">
    <div class="form-group">
        <label >Message</label>
        <input class="form-control mx-sm-3">

        <!--<small id="passwordHelpInline" class="text-muted">-->
            <!--Must be 8-20 characters long.-->
        <!--</small>-->
    </div>
    <div class="form-group">
        <label>Due Date
        <input id="datepicker" class="form-control mx-sm-3">
        </label>
        <!--<small id="passwordHelpInline" class="text-muted">-->
        <!--Must be 8-20 characters long.-->
        <!--</small>-->
    </div>
</form>

<h2>Items in Queue</h2>
<pre ng-if="1"><json-formatter open="2" json="queueItems"></json-formatter></pre>


<div ng-repeat="queue in queueItems.data track by $index">

    {{$index + 1}} - {{queue.message}}
    <pre>{{queue}}</pre>
</div>

<script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
</script>
