<h1>Fitbit</h1>

<div>
    <a href="/v1/fitbit/auth">Link fitbit</a>
</div>

<div class="fitbit">
    <h2>Fitbit Profile</h2>
    <!--style="border-bottom:1px solid black" -->
    <div ng-if="'loading' === fitbitUserProfile._status">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div ng-if="'loading' !== fitbitUserProfile._status">
        <div>
            <button class="btn btn-lg btn-primary btn-block"
                    ng-click="fitbitUserProfile.logSleep()">Log 8 hour sleep</button>
        </div>
        {{fitbitUserProfile.user.displayName}} - {{fitbitUserProfile.user.dateOfBirth}}
        <img ng-src="{{fitbitUserProfile.user.avatar}}">
        <!--<pre>{{fitbitUserProfile | json}}</pre>-->
        <pre><json-formatter open="2" json="fitbitUserProfile"></json-formatter></pre>

        <pre><json-formatter open="2" json="sleepLogsList"></json-formatter></pre>

    </div>
</div>