<h1>TV Shows</h1>
<a ng-href="#!/tvshows/showstatus">View My TV Shows</a>

<form ng-submit="search()">
    <input ng-model="searchstring">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="tvshows">
    <!--style="border-bottom:1px solid black" -->
    <div ng-if="'loading' === tvshows.status">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="tvshow" ng-repeat="tvshow in tvshows.data track by $index">
        <tvshow-search-item tvshow="tvshow"></tvshow-search-item>
    </div>
</div>


<div ng-show="devMode">
    <pre>{{tvshows | json}}</pre>
</div>