<h1>Travel</h1>

<div ng-show="false" class="docs">
    https://www.reisewarnung.net/en/about-the-api
</div>

<pre><json-formatter json="countries"></json-formatter></pre>

<div>
    Is it safe to travel?
</div>

<div ng-if="'loading' === countries._status">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>

<div ng-if="countries._status === 'loaded'">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div ng-repeat="item in countries.data track by $index">



                        <div
                                ng-class="[getCountryPanelClass(item)]"
                                class="panel">

                            <div
                                    class="panel-heading" role="tab"
                            >
                                <div class="row" ng-click="toggleShow('county-' + $index)">
                                    <div class="col-sm-12">
                                        <div>
                                            <span ng-if="false">{{item.lang.en.continent_info}} : </span>
                                            {{item.lang.en.country}} - {{item.lang.en.advice}} -
                                            {{item.situation.rating}} - source count : {{item.situation.sources}}
                                        </div>                                    </div>
                                </div>
                            </div>

                        </div>


                        <div id="collapse{{$index}}" class="panel-collapse collapse in"
                             role="tabpanel"
                             aria-labelledby="headingOne">
                            <div ng-if="getShow('county-' + $index)" class="panel-body">
                                <pre><json-formatter open="2" json="item"></json-formatter></pre>
                            </div>
                        </div>
                </div>

            </div>
        </div>


</div>
