<h1>Funds/Transactions</h1>
cents unless given $ and formatted
<div>
    User Amount (user.amount): {{_user.amount}}
</div>


<!--<div>-->
    <!--<pre>{{transactionList}}</pre>-->
<!--</div>-->
<div>
    <form>
        <label> Description
            <input ng-model="transactionForm.description">
        </label>
        <label> Amount
            <input ng-model="transactionForm.amount">
        </label>
        <button type="submit" ng-click="createTransaction()">Submit</button>
    </form>

</div>

<div ng-if="'loading' === transactionList._status">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>
<div ng-if="'loading' !== transactionList._status">
    <div ng-repeat="transaction in transactionList.data track by $index">
        <!--<pre>{{ transaction}}</pre>-->
        <div>{{transaction.amount}}: {{transaction.description}}: {{transaction.getCreatedDateTime()}}</div>

    </div>
</div>


